# Most recent tested torch version, older versions
# will probably work.
torch==2.2.0
torchvision==0.16
torchaudio==2.1.0

pytest
packaging           # for unit test version checking
ninja               # for building custom extensions
